{%extends "base.html"%}
{% load thumbnail %}

{% block title %} Awesome Home Page{% endblock %}

{% block body %}

    <a href="{% url 'feed:post' %}">Add a new post &rarr;</a>
    <hr/>

    <div class="row">
    {% for post in posts %}
    <div class="col-sm-4 col-md-3">
        <div class="card" style="width: 18rem;">
            {% thumbnail post.image "100x100" crop="center" as im %}
            <img src="{{im.url}}" class="card-img-top" alt="...">
            {% endthumbnail %}
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">{{post.text}}</p>
              <a href="{% url 'feed:detail' post.id %}" class="btn btn-primary">View Full Image</a>
            </div>
          </div>
        </div>
        {%empty%}
        <div class="container">
            <h2>Upload an image</h2>
    <form method="POST" action="" enctype="multipart/form-data" class="col-sm-4 offset-4 py-5 my-5">
        {% csrf_token %}
        {{ form.as_p}}
        <div>
            <button type="submit" class="btn btn-success">Submit form</form>
            </div>
        </div>
    {% endfor %}
    </div>
{%endblock %}